/* css header */

.menu {
    list-style-type: none;
}

.menu li {
    float: left;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgb(71, 71, 70);
    opacity: 0.7;
}

.menu li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: green;
    padding: 10px 25px;
}

.sub-menu {
    display: none;
}

.menu li:hover .sub-menu {
    display: block;
}

.menu li {
    list-style-type: none;
}

.main-container {
    background-image: url("https://vatphongthuy.com.vn/uploads/slider/3.png");
    height: 600px;
    width: 1357px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1);
    color: #f1f1f1;
}


/* css footer */